.hhome {
  height: 100vh;
  background: #fff;
}
.homeTitle {
  text-align: center;
  font-size: 25px;
  padding: 5px;
  font-weight: 500;
}

.theHeaders {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  margin: 50px 20px 0px 30px;
  font-weight: 500;
}
.projects {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  margin: 10px 20px 10px 20px;
  padding: 10px;
  border: 1px solid green;
  background: #eee;
  font-weight: 300;
}

.buttonss {
  display: flex;
  justify-content: center;
  align-items: center;
}

.editBtn {
  margin: 10px;
  height: 30px;
  width: 70px;
  background: green;
  color: #fff;
  padding: 5px;
  font-size: 16px;
  border-radius: 5px;
  font-weight: 500;
  transition: 0.3s ease;
  cursor: pointer;
}
.editBtn:hover {
  background: #fff;
  color: green;
  border: 1px solid green;
}
.saveBtn {
  margin: 10px;
  height: 30px;
  width: 70px;
  background: skyblue;
  color: #000;
  padding: 5px;
  font-size: 16px;
  border-radius: 5px;
  font-weight: 500;
  transition: 0.3s ease;
  cursor: pointer;
}
.editBtn:hover {
  background: #fff;
  color: #000;
  border: 1px solid skyblue;
}
.deleteBtn {
  margin: 10px;
  height: 30px;
  width: 70px;
  background: rgb(205, 1, 1);
  color: #fff;
  padding: 5px;
  font-size: 16px;
  border-radius: 5px;
  font-weight: 500;
  transition: 0.3s ease;
  cursor: pointer;
}
.deleteBtn:hover {
  background: #fff;
  color: rgb(205, 1, 1);
  border: 1px solid rgb(205, 1, 1);
}

.inputs {
  height: 30px;
  display: flex;
  justify-content: center;
  align-items: center;
  font-weight: 500;
  width: 80%;
  border-radius: 5px;
  border: 1px solid gray;
  outline: 0;
}

.addProject {
  text-align: center;
  margin-top: 50px;
}

.addProject > span {
  text-align: center;
  font-size: 20px;
  margin: 10px;
}

form {
  display: flex;
  justify-content: center;
  align-items: center;
}

.inputs {
  width: 300px;
  height: 40px;
  margin: 10px;
  text-align: center;
  font-size: 20px;
}
.btnAdd {
  width: 100px;
  height: 40px;
  font-size: 20px;
  background: skyblue;
  border-radius: 5px;
  border: 1px solid transparent;
  font-weight: 500;
  cursor: pointer;
  transition: 0.3s ease;
}
.btnAdd:hover {
  background: transparent;
  border-radius: 5px;
  border: 1px solid skyblue;
}

.editInput {
  width: 80%;
  height: 30px;
  border-radius: 5px;
  background: #fff;
  font-size: 20px;
  font-weight: 500;
  text-align: center;
  outline: 0;
  border: 1px solid #000;
}
